/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* body {
  width: 100%;
  background-color: linear-gradient(#f0f8ff, #cce7ff); /* Light blue gradient */
  min-height: 100vh;
}
#chatbot-toggler {
  background: #1e88e5; /* Blue */
}

#chatbot-toggler span {
  color: #fff;
}

.chatbot.popup {
  background: #fff;
}

.chatbot.popup .chat-header {
  background: #1e88e5; /* Blue */
}

.header-info svg {
  fill: #1e88e5;
  background: #fff;
}

.header-info .logo-text {
  color: #fff;
}

.chat-header button {
  background: #1565c0;
}

.chat-header button:hover {
  background: #1565c0;
}

.chat-body {
  scrollbar-color: #cfdfff transparent;
}

.chat-body .bot-message svg {
  background: #1565c0;
}

.chat-body .bot-message .message-text {
  background: #e3f2fd;
}

.chat-body .user-message .message-text {
  background: #1e88e5;
  color: #fff;
}

.chat-footer {
  background: #fff;
}

.chat-footer .chat-form {
  outline: 1px solid #b3d1ff;
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #1e88e5;
}

.chat-form button {
  background: #1e88e5;
  color: #fff;
}

.chat-form button:hover {
  background: #1565c0;
}

.chat-header button.material-symbols-rounded {
  background: #1565c0;
  color: #fff;
}
 */
